@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}
/*아래 부분은 해시태그 관련 CSS 입니다*/
ul {
    padding: 16px 0;
}

ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    letter-spacing: -.5px;
}


ul li.tag-item {
    padding: 4px 8px;
    background-color: #777;
    color: #000;
}

.tag-item:hover {
    background-color: #262626;
    color: #fff;
}

.del-btn {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
}