<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/}">홈</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/user/signup}">회원가입</a>
    <a sec:authorize="!isAuthenticated()"th:href="@{/user/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    <form th:action="@{/user/login}" method="post">
        <span>아이디</span>
        <div>
            <input type="text" name="username" placeholder="아이디를 입력해주세요" required/>
        </div>
        <span>비밀번호</span>
        <div>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required/>
        </div>
        <span>로그인 유지</span>
        <input type="checkbox" name="remember-me"/>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
</body>
</html>
