<th:block th:replace="~{/layout/header_new :: setContent(~{this :: content})}">
    <th:block th:fragment="content">



        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="font-weight-bold text-dark">Join</h1>
                    </div>

                </div>
            </div>
        </section>

        <div class="container pt-3 pb-2">

            <div class="row pt-2">

                <div class="col-lg-9">

                    <form method="post" th:object="${userOauth2CreateForm}" th:action="@{/user/oauth2/information}">

                        <div class="form-group row" >
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required"></label>
                            <div class="col-lg-9" role="alert" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                            </div>
                        </div>
                        <input name="email" th:value="${users.email}" hidden/>
                        <input name="username" th:value="${users.username}" hidden/>

                        <div class="form-group row" >
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">NickName</label>
                            <div class="col-lg-9" id="check">
                                <input class="form-control text-3 h-auto py-2 mb-2" type="text"  id="nickname" name="nickname" required>
                                <button class="btn btn-outline btn-rounded btn-tertiary mb-2 " onclick="id_check(); return false">중복 체크</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Phone</label>
                            <div class="col-lg-9">
                                <input class="form-control text-3 h-auto py-2" type="text" name="phoneNumber" maxlength='11' pattern="[0-9]+" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Gender</label>
                            <div class="col-lg-9">
                                <label><input type="radio" name="sex" value="MALE" checked/>남성</label>
                                <label><input type="radio" name="sex" value="FEMALE"/>여성</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Birth</label>
                            <div class="col-lg-9">
                                <select name="year" id="year">년</select>
                                <select name="month" id="month"></select>
                                <select name="day" id="day"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control text-3 h-auto py-2" type="text" id="광역시" name="address_1st"
                                       readonly placeholder="sido">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2"></label>
                            <div class="col-lg-9">
                                <input class="form-control text-3 h-auto py-2" type="text" id="시군구" name="address_2st"
                                       readonly placeholder="sigungu">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2"></label>
                            <div class="col-lg-9">
                                <input class="form-control text-3 h-auto py-2" type="text" id="동읍면리" name="address_3st"
                                       readonly placeholder="bname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2"></label>
                            <div class="col-lg-9">
                                <input class="form-control text-3 h-auto py-2 mb-2" type="text" id="상세 주소" name="address_detail"
                                       required placeholder="desc">
                                <button type="button" class="btn btn-outline btn-rounded btn-tertiary mb-2 " id="search_addr" >Search</button>
                            </div>
                            <div class="col-lg-3" hidden>
                                <input class="form-control text-3 h-auto py-2" type="text" id="동네" name="address_4st"
                                       readonly placeholder="roadAD">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="form-group col-lg-9">

                            </div>
                            <div class="form-group col-lg-3">
                                <input type="submit" value="Save" class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>





        <div layout:fragment="script" class="container my-3">
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script th:src="@{/js/user/oauth2_signup.js}"></script>
        </div>
        <!-- Vendor -->
        <script th:src="@{/HTML/vendor/plugins/js/plugins.min.js}"></script>

        <!-- Theme Base, Components and Settings -->
        <script th:src="@{/HTML/js/theme.js}"></script>

        <!-- Theme Custom -->
        <script th:src="@{/HTML/js/custom.js}"></script>

        <!-- Theme Initialization Files -->
        <script th:src="@{/HTML/js/theme.init.js}"></script>


    </th:block>
</th:block>