<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <span>이메일</span>
        <div>
            <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요" required/>
            <button type="button" onclick="passwordFind(); return false">인증번호 전송</button>
        </div>
        <span>인증번호</span>
        <div>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required/>
        </div>
        <script th:src="@{/js/user/password.js}"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </th:block>
</th:block>