<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <span>아이디</span>
        <div>
            <input type="text" name="username" placeholder="아이디를 입력해주세요" required/>
        </div>
        <span>이메일</span>
        <div>
            <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요" required/>
            <button type="button" id="certificateButton" onclick="alert('인증번호를 보냈습니다.'); passwordFind(); return false">인증번호 전송</button>
        </div>
        <span id="certificateKeyText" hidden>인증번호</span>
        <div>
            <input type="text" name="certificateKey" id="certificateKey" placeholder="인증번호 입력해주세요" required hidden/>
        </div>
        <script th:src="@{/js/user/password.js}"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </th:block>
</th:block>