<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <span>아이디</span>
        <form th:action="@{|/user/password|}" method="POST">
            <div>
                <input type="text" name="username" id="username" placeholder="아이디를 입력해주세요" required/>
            </div>
            <span>이메일</span>
            <div>
                <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요" required/>
                <button type="button" id="certificateButton" onclick="alert('인증번호를 보냈습니다.'); passwordFind(); return false">인증번호 전송</button>
            </div>
            <span id="certificateKeyText" hidden>인증번호</span>
            <div>
                <input type="text" name="certificateKey" id="certificateKey" placeholder="인증번호 입력해주세요" required hidden/>
                <button type="button" id="certificateKeyCheck" onclick="KeyCheck(); return false" hidden>인증번호 확인</button>
            </div>

            <span id="password2Text" hidden>신규 비밀번호</span>
            <div>
                <input type="password" id="password2" name="password2" placeholder="신규 비밀번호를 입력해주세요" required hidden/>
            </div>
            <span id="password3Text" hidden>신규 비밀번호 확인</span>
            <div>
                <input type="password" id="password3" name="password3" placeholder="신규 비밀번호 확인를 입력해주세요"
                       onchange="pwd_check()" required hidden/>
                <span id="pwdcheck"></span>
            </div>
            <div>
                <button type="submit" id="submit" onclick="alert('성공적으로 비밀번호가 수정 되었습니다.')" hidden>확인</button>
            </div>
        </form>
        <script th:src="@{/js/user/password.js}"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </th:block>
</th:block>