<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <h2 class="border-bottom py-2" th:text="${article.title}"></h2>


        <div class="d-flex justify-content-between">
            <div>
                <h3 th:text="${article.users.nickname}">
                </h3>
                <form th:action="@{|/chat/room/${article.users.id}|}" method="post">
                    <button class="btn btn-primary" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.users != null and #authentication.getPrincipal().getUsername() != article.users.username}"
                       th:text="채팅하기"></button>
                </form>

            </div>
            <div class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <div id="likeBox" style="margin: 4px 10px;">
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <div style="margin: 4px 10px;">
                        <i class='bi bi-heart'></i>
                    </div>
                </div>
                <div>
                <span id="pushCount" th:text="${pushCount}">
                </span>
                </div>

            </div>
        </div>


        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>

                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div th:text="${#temporals.format(article.create, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div>
                    <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-primary" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.users != null and #authentication.getPrincipal().getUsername() == article.users.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/article/delete/${article.id}|}"
                       class="delete btn btn-primary" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.users != null and #authentication.getPrincipal().getUsername() == article.users.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <div th:each="articleImage : ${article.articleImgList}">
            <img id="imgId" th:src="@{${articleImage.imageUrl}} " alt="첨부이미지" th:if="articleImage != null"/>
        </div>

        <ul id="tag-list">
            <div th:each="tag :${article.articleHashtags}">
                <li class='tag-item' th:text="${tag.hashtagName}"><span idx='"+counter+"'></span></li>
            </div>

        </ul>

        <div id="resultDiv">
            <p th:if="${msg}!=null" th:text="${msg}"></p>
        </div>

        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(article.articleCommentList)}개의 댓글이 있습니다.|"></h5>

        <div class="card my-3" th:each="articleComment : ${article.articleCommentList}">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${articleComment.comment}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div th:text="${#temporals.format(articleComment.create, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <form th:action="@{|/articleComment/createReply/${articleComment.id}|}"
                          th:object="${articleCommentForm}" method="post" class="my-3">
                        <div th:replace="form_errors :: formErrorsFragment"></div>

                        <textarea  th:id="|commentReply${articleComment.id}|" name="content" rows="1" class="form-control"></textarea>

                        <input type="submit" name="commentReplySubmit_new"  th:id="|commentReplySubmit${articleComment.id}|" value="답글등록"
                               class="btn btn-primary my-2">
                        <div class="card my-3" th:each="articleCommentReply : ${articleComment.getChild()}">
                            <button type="button"
                                    onclick="modify(this)"
                                    sec:authorize="isAuthenticated()"
                                    th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}">
                                수정</button>
                            <a th:href="@{|/articleComment/delete/${articleCommentReply.id}|}"
                               sec:authorize="isAuthenticated()"
                               th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"
                            >삭제</a>

                            <button sec:authorize="isAuthenticated()"
                                    th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"
                                    onclick="commentReplySave(this); return false"
                                    type="button"
                                    hidden>
                                저장
                            </button>
                            <input class="card-text" style="white-space: pre-line;"
                                   id="commentReplyExist"
                                   th:value="${articleCommentReply.comment}" readonly/>
                            <span th:text="${articleCommentReply.id}" hidden></span>
                        </div>
                    </form>
                </div>
                <div class="my-3">

                    <a th:href="@{|/articleComment/modify/${articleComment.id}|}"
                       class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${articleComment.users != null and #authentication.getPrincipal().getUsername() == articleComment.users.username}"
                       th:text="수정"></a>

                    <a href="javascript:void(0);" th:data-uri="@{|/articleComment/delete/${articleComment.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${articleComment.users != null and #authentication.getPrincipal().getUsername() == articleComment.users.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->

        <!-- 답변 작성 -->
        <form th:action="@{|/articleComment/create/${article.id}|}" th:object="${articleCommentForm}" method="post"
              class="my-3">
            <div th:replace="form_errors :: formErrorsFragment"></div>

            <textarea id="commentReply_" name="content" rows="5" class="form-control"></textarea>
            <input id="commentReplySubmit_" type="submit" value="댓글등록" class="btn btn-primary my-2">
        </form>


        <script layout:fragment="script" type='text/javascript'>
            function likeStatus() {
                $.ajax({
                    url: "/article/likeStatus/[[${article.id}]]",
                    method: "GET",
                }).done(function (data) {
                    if (data == "false") {
                        $("#likeBox").append("<i class='bi bi-heart'></i>")
                    } else {
                        $("#likeBox").append('<i class="bi bi-heart-fill"></i>')
                    }
                })
            }

            $(document).ready(function () {
                $("#likeBox").empty();
                likeStatus();
            })

            $(document).on('click', '#likeBox', function () {
                let count = parseInt($("#pushCount").text());
                $.ajax({
                    url: "/article/pushLike/[[${article.id}]]",
                    method: "GET",
                }).done(function (data) {
                    if (data == "pushLike") {
                        $("#likeBox").empty();
                        $("#likeBox").append('<i class="bi bi-heart-fill"></i>')
                        $("#pushCount").text(++count);
                    } else {
                        $("#likeBox").empty();
                        $("#likeBox").append("<i class='bi bi-heart'></i>")
                        $("#pushCount").text(--count);
                    }
                })
            })





            const delete_elements = document.getElementsByClassName("delete");
            Array.from(delete_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    if (confirm("정말로 삭제하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    }
                    ;
                });
            });
            const recommend_elements = document.getElementsByClassName("recommend");
            Array.from(recommend_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    if (confirm("정말로 추천하시겠습니까??")) {
                        location.href = this.dataset.uri
                    }
                    ;
                });
            });

            function modify(button){
                let parentNode = button.parentNode;
                let Modify = parentNode.childNodes[1];
                let CommentReply = parentNode.childNodes[7];
                let Save = parentNode.childNodes[5];

                if (CommentReply.readOnly === true) {
                    Modify.innerHTML = "수정취소";
                    CommentReply.readOnly = false;
                    Save.hidden = false;
                } else {
                    Modify.innerHTML = "수정";
                    CommentReply.readOnly = true;
                    Save.hidden = true;
                }
            }
            function commentReplySave(button) {
                let parentNode = button.parentNode;
                let Modify = parentNode.childNodes[1];
                let CommentReply = parentNode.childNodes[7];
                let Save = parentNode.childNodes[5];
                let SaveCommentReply = parentNode.childNodes[7].value;
                let CommentId = parentNode.childNodes[9].innerHTML;
                console.log(SaveCommentReply);
                console.log(CommentId);
                $.ajax({
                    url: "/articleComment/CommentReply/save", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
                    data: {SaveCommentReply: SaveCommentReply, CommentId:CommentId},  // HTTP 요청과 함께 서버로 보낼 데이터
                    method: "GET",   // HTTP 요청 메소드(GET, POST 등)
                    dataType: "html" // 서버에서 보내줄 데이터의 타입
                })
                    // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                    .done(function (json) {
                        SaveCommentReply.value = json;
                        Modify.innerHTML = "수정";
                        CommentReply.readOnly = true;
                        Save.hidden = true;
                        // $("<div class=\"content\">").html(json.html).appendTo("body");
                    })
                    // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                    .fail(function (xhr, status, errorThrown) {
                        $("#text").html("오류가 발생했다.<br>")
                            .append("오류명: " + errorThrown + "<br>")
                            .append("상태: " + status);
                    })
                    //
                    .always(function (xhr, status) {
                        $("#text").html("요청이 완료되었습니다!");
                    });
            }
        </script>


    </th:block>
</th:block>
</html>
<script th:inline="javascript">

$(document).ready(function(){

    var commentUserNickName =[[${#authentication.getPrincipal().getUsername}]];
    console.log(commentUserNickName);
    var articleUserId =[[${article.users.id}]];
    console.log(articleUserId);
        $("#commentReplySubmit_").on("click", function(e){

            console.log(commentUserNickName);
            console.log(articleUserId);
            stomp.send('/pub/article/message', {}, JSON.stringify({commentUserNickName: commentUserNickName, articleUserId: articleUserId}));

            // 유저 닉네임, 답글단 유저 닉네임 , 게시글 작성한 유저 idx
        });

});
</script>