<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h2 class="border-bottom py-2" th:text="${article.title}"></h2>

        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>

                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div th:text="${#temporals.format(article.create, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div>
                    <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-primary" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.users != null and #authentication.getPrincipal().getUsername() == article.users.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/article/delete/${article.id}|}"
                       class="delete btn btn-primary" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.users != null and #authentication.getPrincipal().getUsername() == article.users.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <div th:each="articleImage : ${article.articleImgList}">
            <img id="imgId" th:src="@{${articleImage.imageUrl}} " alt="첨부이미지" th:if="articleImage != null"/>
        </div>

        <ul id="tag-list">
            <div th:each="tag :${article.articleHashtags}">
                <li class='tag-item' th:text="${tag.hashtagName}"><span idx='"+counter+"'></span></li>
            </div>

        </ul>

        <div id="resultDiv">
            <p th:if="${msg}!=null" th:text="${msg}"></p>
        </div>

        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(article.articleCommentList)}개의 댓글이 있습니다.|"></h5>

        <div class="card my-3" th:each="articleComment : ${article.articleCommentList}">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${articleComment.comment}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div th:text="${#temporals.format(articleComment.create, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <form th:action="@{|/articleComment/createReply/${articleComment.id}|}"
                          th:object="${articleCommentForm}" method="post" class="my-3">
                        <div th:replace="form_errors :: formErrorsFragment"></div>

                        <textarea id="commentReply" name="content" rows="1" class="form-control"></textarea>
                        <input type="submit" disabled id="commentReplySubmit" value="답글등록"
                               class="btn btn-primary my-2">
                        <div class="card my-3" th:each="articleCommentReply : ${articleComment.getChild()}">
                            <form th:action="@{|/articleComment/modify/${articleCommentReply.id}|}">
                                <button type="button"
                                        onclick="modify()"
                                        sec:authorize="isAuthenticated()"
                                        th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}">
                                    수정</button>
                                <button sec:authorize="isAuthenticated()"
                                        th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"
                                        type="button">삭제</button>

                                <button sec:authorize="isAuthenticated()"
                                        id="commentReplySave"
                                        th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"
                                        type="button" hidden>저장</button>
                                <textarea class="card-text" style="white-space: pre-line;"
                                          id="commentReplyExist"
                                     th:text="${articleCommentReply.comment}" readonly></textarea>
                            </form>
<!--                            <a th:href="@{|/articleComment/modify/${articleCommentReply.id}|}"-->
<!--                               sec:authorize="isAuthenticated()"-->
<!--                               th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"-->
<!--                            >수정</a>-->
<!--                            <a th:href="@{|/articleComment/delete/${articleCommentReply.id}|}"-->
<!--                               sec:authorize="isAuthenticated()"-->
<!--                               th:if="${articleCommentReply.users != null and #authentication.getPrincipal().getUsername() == articleCommentReply.users.username}"-->
<!--                            >삭제</a>-->

                        </div>
                    </form>
                </div>
                <div class="my-3">

                    <a th:href="@{|/articleComment/modify/${articleComment.id}|}"
                       class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${articleComment.users != null and #authentication.getPrincipal().getUsername() == articleComment.users.username}"
                       th:text="수정"></a>

                    <a href="javascript:void(0);" th:data-uri="@{|/articleComment/delete/${articleComment.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${articleComment.users != null and #authentication.getPrincipal().getUsername() == articleComment.users.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->

        <!-- 답변 작성 -->
        <form th:action="@{|/articleComment/create/${article.id}|}" th:object="${articleCommentForm}" method="post"
              class="my-3">
            <div th:replace="form_errors :: formErrorsFragment"></div>

            <textarea id="commentReply_" name="content" rows="5" class="form-control"></textarea>
            <input id="commentReplySubmit_" type="submit" value="댓글등록" class="btn btn-primary my-2">
        </form>


        <script layout:fragment="script" type='text/javascript'>
            const delete_elements = document.getElementsByClassName("delete");
            Array.from(delete_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    if (confirm("정말로 삭제하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    }
                    ;
                });
            });
            const recommend_elements = document.getElementsByClassName("recommend");
            Array.from(recommend_elements).forEach(function (element) {
                element.addEventListener('click', function () {
                    if (confirm("정말로 추천하시겠습니까??")) {
                        location.href = this.dataset.uri
                    }
                    ;
                });
            });


            $(document).ready(function () {
                $('#commentReply').on('input change', function () {
                    if ($(this).val() != '') {
                        $('#commentReplySubmit').prop('disabled', false);
                    } else {
                        $('#commentReplySubmit').prop('disabled', true);
                    }
                });
            });

            $(document).ready(function () {
                $('#commentReply_').on('input change', function () {
                    if ($(this).val() != '') {
                        $('#commentReplySubmit_').prop('disabled', false);
                    } else {
                        $('#commentReplySubmit_').prop('disabled', true);
                    }
                });
            });

            function modify(){
                if (document.getElementById("commentReplyExist").readOnly === true) {
                    document.getElementById("commentReplyExist").readOnly = false;
                    document.getElementById("commentReplySave").hidden = false;
                } else {
                    document.getElementById("commentReplyExist").readOnly = true;
                    document.getElementById("commentReplySave").hidden = true;
                }
            }
            function commentReplySave() {
                let nickname = $("#nickname").val();
                console.log(nickname);
                $.ajax({
                    url: "/user/information/check", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
                    data: {nickname: nickname},  // HTTP 요청과 함께 서버로 보낼 데이터
                    method: "GET",   // HTTP 요청 메소드(GET, POST 등)
                    dataType: "html" // 서버에서 보내줄 데이터의 타입
                })
                    // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                    .done(function (json) {
                        if ($("#duplicate").length === 0){
                            $("#check").prepend("<div id='duplicate'>"+json+"</div>");
                        } else {
                            $("#duplicate").text(json);
                        }
                        // $("<div class=\"content\">").html(json.html).appendTo("body");
                    })
                    // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                    .fail(function (xhr, status, errorThrown) {
                        $("#text").html("오류가 발생했다.<br>")
                            .append("오류명: " + errorThrown + "<br>")
                            .append("상태: " + status);
                    })
                    //
                    .always(function (xhr, status) {
                        $("#text").html("요청이 완료되었습니다!");
                    });
            }
        </script>

        <!--<script layout:fragment="script" type='text/javascript'>-->
        <!--<script th:inline="javascript" type='text/javascript'>-->

        <!--    function dataSend() {-->
        <!--        var data = $("#input").val();-->
        <!--        var messageDTO = {-->
        <!--            result: data-->
        <!--        };-->
        <!--        $.ajax({-->
        <!--            type: "delete",-->
        <!--            url: url,-->
        <!--            dataType: 'text'-->
        <!--        }).done(function (result) {-->
        <!--            if (result == "ok") {-->
        <!--                alert("삭제에 성공하였습니다.");-->
        <!--                // location.href ~~~-->
        <!--            } else {-->
        <!--                alert("삭제에 실패하였습니다.");-->
        <!--            }-->
        <!--        }).fail(function (error) {-->
        <!--            alert("삭제에 실패하였습니다.");-->
        <!--        });-->
        <!--    }-->
        <!--</script>-->
    </th:block>
</th:block>
