<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>마커 클러스터러 사용하기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gym.css}">
</head>
<body>
<p style="margin-top:-12px">
    사용한 데이터를 보시려면
    <em class="link">
        <a href="/gym/getGymList" target="_blank">여기를 클릭하세요!</a>
    </em>
</p>

<div class="container">
    <section class="content">

        <div class="map" id="map" style="width:50px;height:1000px;">

        </div>

        <aside>
            추가적인 내용
        </aside>

    </section>

</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fdeb65c4bd0f03e93d1de82c7e1dded0&libraries=clusterer"></script>
<script>
    var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
        center : new kakao.maps.LatLng(36.2683, 127.6358), // 지도의 중심좌표
        level : 10 // 지도의 확대 레벨
    });

    // 마커 클러스터러를 생성합니다
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 10 // 클러스터 할 최소 지도 레벨
    });

    // 데이터를 가져오기 위해 jQuery를 사용합니다
    // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
     $.get("/gym/getGymList", function(data) {
        var prevInfo = null;
        var markers = $(data.positions).map(function(i, positions) {
            var marker = new kakao.maps.Marker({
                position : new kakao.maps.LatLng(positions.lat, positions.lng)
            });

            var iwContent = '<div style="padding:5px;"> <a href="/" style="text-align:center;">'+positions.gym_name.toString()+'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true;
            var infowindow = new kakao.maps.InfoWindow({
                position : new kakao.maps.LatLng(positions.lat, positions.lng),
                content : iwContent
            });
            // kakao.maps.event.addListener(map, 'zoom_changed', function() {
            //     // 지도의 현재 레벨을 얻어옵니다
            //     var level = map.getLevel();
            //     if(level>=7){
            //         infowindow.close(map, marker);
            //     }
            //     else{
            //
            //         infowindow.open(map, marker);
            //     }
            //
            //
            // });


            kakao.maps.event.addListener(marker, 'click', function() {
                if (prevInfo) prevInfo.setMap(null);
                var pos = marker.getPosition();
                var info = new kakao.maps.InfoWindow({
                    position: pos,
                    disableAutoPan:true,
                    removable : iwRemoveable,
                    content: iwContent
                });
                info.setMap(map);
                prevInfo = info;
            });

            return marker;
        });
         clusterer.addMarkers(markers);
    });


    // 클러스터러에 마커들을 추가합니다


</script>
</body>
</html>