<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
>
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h1>내 정보 수정</h1>
    <span>닉네임 : </span>
    <span th:text="${users.nickname}"></span>
    <br>
    <a th:href="@{/user/nickname/modify}">수정</a>
    <br>
    <div>
        <span>성별 : </span>
        <span th:text="${#strings.equals(users.sex, 'MALE')} ? '남' : '여'"></span>
    </div>
    <br>
    <span>생년월일 : </span>
    <span th:text="${users.birthday}"></span>
    <br>
    <br>

    <h3 th:text="${users.address_4st}"></h3>
    <span th:text="${users.address_4st}"></span> <span th:text="${users.address_detail}"></span>
    <br>
    <a th:href="@{/user/address/modify}">내 위치 재설정</a>
    <br>
    <br>
    <div th:text="${users.email}"></div>
    <a th:href="@{/user/email/modify}">이메일 재설정</a>
    <br>
    <br>
    <div th:text="${users.phoneNumber}"></div>
    <a th:href="@{/user/phoneNumber/modify}">수정</a>
</div>

</html>