<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
>
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <form method="post" th:action="@{/user/email/modify}">
        <span>이메일 주소</span>
        <div>
            <input type="email" name="email" placeholder="이메일 주소를 입력해주세요" required/>
            <button type="submit">수정</button>
        </div>
    </form>
</div>

</html>