<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
>
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <form method="post" th:action="@{/user/phoneNumber/modify}">
        <span>휴대폰 번호</span>
        <div>
            <input type="text" name="phoneNumber" placeholder="휴대폰 번호를 입력해주세요" maxlength='11' pattern="[0-9]+" required>
            <button type="submit">수정</button>
        </div>
    </form>
</div>

</html>