<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
>
<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <h3 th:text="${users.nickname}"></h3>
        <h4 th:text="${users.email}"></h4>
        <div>
            <a th:href="@{/user/information/update}">내 정보 수정</a>
        </div>
        <ul>
            <li>
                <a th:href="@{/exercise/list}">나의 운동 일지</a>
            </li>
            <li>
                <a href="#">공지사항</a>
            </li>
            <li>
                <a href="#">이벤트</a>
            </li>
            <li>
                <a href="#">결제내역</a>
            </li>
            <li>
                <a href="#">자주 묻는 질문</a>
            </li>
            <li>
                <a href="#">약관 및 정책</a>
            </li>
        </ul>
    </div>
</html>