<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <form method="post" th:object="${userUpdateForm}" th:action="@{/user/information/update}" onsubmit="info_submit(this); return false;">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <span>닉네임</span>
        <div>
            <input type="text" id="nickname" name="nickname" th:value="${users.nickname}" placeholder="닉네임을 입력해주세요" required/>
        </div>
        <span>현재 비밀번호</span>
        <div>
            <input type="password" id="password1" name="password1" placeholder="비밀번호를 입력해주세요" disabled="disabled" required/>
        </div>

        <span>신규 비밀번호</span>
        <div>
            <input type="password" id="password2" name="password2" placeholder="비밀번호를 입력해주세요" disabled="disabled" required/>
        </div>
        <div>
            <input type='button' value='수정' onclick='btnPwdActive()'/>
        </div>
        <span>이메일 주소</span>
        <div th:text="${users.email}"></div>
        <span>휴대폰 번호</span>
        <div>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${users.phoneNumber}" placeholder="휴대폰 번호를 입력해주세요" maxlength='11' pattern="[0-9]+" disabled="disabled" required>
        </div>
        <div>
            <input type='button' value='수정' onclick='btnPhoneActive()'/>
        </div>
        <div>
            <button type="button" id="search_addr" disabled="disabled">주소찾기</button>
        </div>
        <table>
            <tr>
                <th>광역시</th>
                <td><input type="text" id="address_1st" name="address_1st" th:value="${users.address_1st}" disabled="disabled" readonly/></td>
            </tr>
            <tr>
                <th>시군구</th>
                <td><input type="text" id="address_2st" name="address_2st" th:value="${users.address_2st}" disabled="disabled" readonly/></td>
            </tr>
            <tr>
                <th>동읍면리</th>
                <td><input type="text" id="address_3st" name="address_3st" th:value="${users.address_3st}" disabled="disabled" readonly/></td>
            </tr>
            <tr>
                <th>도로명</th>
                <td><input type="text" id="address_4st" name="address_4st" th:value="${users.address_4st}" disabled="disabled" readonly/></td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td><input type="text" id="address_detail" name="address_detail" th:value="${users.address_detail}" disabled="disabled" required/></td>
            </tr>
            <tr>
                <td><input type='button' value='수정' onclick='btnAddressActive()'/></td>
            </tr>
        </table>

        <button type="submit">정보 저장</button>
    </form>
</div>
<div layout:fragment="script" class="container my-3">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        window.onload = function() {
            document.getElementById("search_addr").addEventListener("click", function() { //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("address_1st").value = data.address; // 주소 넣기
                        document.getElementById("address_2st").value = data.sido;
                        document.getElementById("address_3st").value = data.sigungu;
                        document.getElementById("address_4st").value = data.bname;
                        document.getElementById("address_detail").value = '';
                        document.getElementById("address_detail").focus(); //상세입력 포커싱
                    }
                }).open();

            });
        }
    </script>
    <script>
        function btnPwdActive()  {
            const target1 = document.getElementById('password1');
            const target2 = document.getElementById('password2');
            if (target1.disabled == false){
                target1.disabled = true;
                target2.disabled = true;
            }
            else {
                target1.disabled = false;
                target2.disabled = false;
            }
        }
        function btnPhoneActive()  {
            const target1 = document.getElementById('phoneNumber');
            if (target1.disabled == false){
                target1.disabled = true;
            }
            else {
                target1.disabled = false;
            }
        }
        function btnAddressActive()  {
            const target1 = document.getElementById('address_1st');
            const target2 = document.getElementById('address_2st');
            const target3 = document.getElementById('address_3st');
            const target4 = document.getElementById('address_4st');
            const target5 = document.getElementById('address_detail');
            const target6 = document.getElementById('search_addr');
            if (target1.disabled == false && target2.disabled == false && target3.disabled == false && target4.disabled == false && target5.disabled == false && target6.disabled == false){
                target1.disabled = true;
                target2.disabled = true;
                target3.disabled = true;
                target4.disabled = true;
                target5.disabled = true;
                target6.disabled = true;
                console.log(target1.value);
            }
            else {
                target1.disabled = false;
                target2.disabled = false;
                target3.disabled = false;
                target4.disabled = false;
                target5.disabled = false;
                target6.disabled = false;
            }
        }
        function info_submit(form){
            const nickname = document.getElementById('nickname');
            const address_1st = document.getElementById('address_1st');
            const address_2st = document.getElementById('address_2st');
            const address_3st = document.getElementById('address_3st');
            const address_4st = document.getElementById('address_4st');
            if (address_1st.value.trim().length == 0 && address_1st.disabled == false &&
                address_2st.value.trim().length == 0 && address_2st.disabled == false &&
                address_3st.value.trim().length == 0 && address_3st.disabled == false &&
                address_4st.value.trim().length == 0 && address_4st.disabled == false){
                alert('주소를 입력해주세요.');
                return;
            }
            if (nickname.value.trim().length < 3) {
                console.log(nickname.value);
                alert('사용자 닉네임 길이는 3자 이상 25자 이하 이여야 합니다.');
                return;
            }
            // alert('정보가 저장 되었습니다.');
            form.submit();
            return;
        }
    </script>
    <script>
        $.ajax({
            url: "/rest/1/pages/245", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
            data: { name: "홍길동" },  // HTTP 요청과 함께 서버로 보낼 데이터
            method: "GET",   // HTTP 요청 메소드(GET, POST 등)
            dataType: "json" // 서버에서 보내줄 데이터의 타입
        })
            // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
            .done(function(json) {
                $("<h1>").text(json.title).appendTo("body");
                $("<div class=\"content\">").html(json.html).appendTo("body");
            })
            // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
            .fail(function(xhr, status, errorThrown) {
                $("#text").html("오류가 발생했다.<br>")
                    .append("오류명: " + errorThrown + "<br>")
                    .append("상태: " + status);
            })
            //
            .always(function(xhr, status) {
                $("#text").html("요청이 완료되었습니다!");
            });
    </script>
</div>
</html>